In [17]:
import pandas as pd
import numpy as np

In [18]:
db = pd.read_excel("PLANILHA COMPLETA - CLASSIFICAÇÃO.xlsx")
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N_OVO        1000 non-null   int64
 1   P_OVO        997 non-null    float64
 2   AL_ALB       997 non-null    object
 3   PH_ALB       986 non-null    object
 4   P_GE         976 non-null    object
 5   C_GE         997 non-null    object
 6   YH           997 non-null    object
 7   YD           997 non-null    object
 8   YI           997 non-null    object
 9   HU           997 non-null    object
 10  RK           997 non-null    object
 11  F_Q          997 non-null    object
 12  P_CA         999 non-null    object
 13  E_CA         998 non-null    object
 14  Unnamed: 14  999 non-null    object
 15  Unnamed: 15  999 non-null    object
 16  MEDIA_E_CA   997 non-null    float64
 17  OBS          263 non-null    object
 18  OV           999 non-null    object
 19  L            999 non-null    float64
 20  B            999 non-null    float64
 21  W            999 non-null    float64
 22  L/2          1000 non-null   float64
 23  L/4          1000 non-null   float64
 24  D/4          999 non-null    float64
 25  TEMPO        1000 non-null   int64
 26  CL_PESO      997 non-null    object
dtypes: float64(8), int64(2), object(17)
memory usage: 211.1+ KB

In [19]:
db.drop(columns=["E_CA", "OBS", "Unnamed: 14", "Unnamed: 15"], axis=1, inplace=True)
db.rename(columns={"L/2": "L2", "D/4": "D4", "L/4": "L4"}, inplace=True)
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   N_OVO       1000 non-null   int64
 1   P_OVO       997 non-null    float64
 2   AL_ALB      997 non-null    object
 3   PH_ALB      986 non-null    object
 4   P_GE        976 non-null    object
 5   C_GE        997 non-null    object
 6   YH          997 non-null    object
 7   YD          997 non-null    object
 8   YI          997 non-null    object
 9   HU          997 non-null    object
 10  RK          997 non-null    object
 11  F_Q         997 non-null    object
 12  P_CA        999 non-null    object
 13  MEDIA_E_CA  997 non-null    float64
 14  OV          999 non-null    object
 15  L           999 non-null    float64
 16  B           999 non-null    float64
 17  W           999 non-null    float64
 18  L2          1000 non-null   float64
 19  L4          1000 non-null   float64
 20  D4          999 non-null    float64
 21  TEMPO       1000 non-null   int64
 22  CL_PESO     997 non-null    object
dtypes: float64(8), int64(2), object(13)
memory usage: 179.8+ KB

In [20]:
db.replace("-", np.nan, inplace=True)
db.replace("    ", np.nan, inplace=True)
db.replace("--", np.nan, inplace=True)

nulos = db[db.isnull().any(axis=1)]
nulos

,N_OVO,P_OVO,AL_ALB,PH_ALB,P_GE,C_GE,YH,YD,YI,HU,...,MEDIA_E_CA,OV,L,B,W,L2,L4,D4,TEMPO,CL_PESO
89,90,54.0,NaN,9.5,NaN,NaN,NaN,NaN,NaN,,...,0.40,1.0,53.69,42.26,0.83,26.85,13.42,35.48,0,Médio
91,92,69.3,10.5,8.0,17.675,4.0,18.6,51.3,0.363,99.8,...,0.30,2.0,62.18,45.77,1.59,31.09,15.55,40.23,0,Extra
94,95,60.7,9.3,9.1,NaN,5.0,13.8,41.7,0.331,96.1,...,0.41,1.0,56.34,43.93,0.66,28.17,14.09,39.04,0,Grande
108,109,67.2,6.9,NaN,NaN,6.0,17.8,43.0,0.414,80.9,...,0.36,2.0,60.21,45.41,-0.73,30.11,15.05,39.27,0,Extra
246,247,65.0,5.1,NaN,16.254,5.0,14.3,43.3,0.330,67.5,...,0.38,2.0,58.52,45.23,-0.79,29.26,14.63,38.98,7,Extra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,931,58.8,2.6,10.8,NaN,6.0,6.9,45.0,0.153,40.2,...,0.37,1.0,56.07,43.92,0.95,28.04,14.02,38.58,28,Grande
935,936,58.8,3.1,10.6,NaN,6.0,11.1,50.7,0.219,48.1,...,0.35,2.0,56.53,43.97,0.00,28.27,14.13,39.58,28,Grande
938,939,58.1,NaN,10.8,NaN,NaN,NaN,NaN,NaN,,...,0.40,2.0,54.72,44.80,31.36,27.36,13.68,40.64,28,Grande
940,941,68.3,NaN,10.5,NaN,NaN,NaN,NaN,NaN,,...,0.40,3.0,60.42,46.41,1.29,30.21,15.11,39.41,28,Extra
980,981,61.5,4.1,NaN,NaN,5.0,10.1,NaN,NaN,59.1,...,0.41,2.0,59.00,44.01,-0.94,29.50,14.75,38.34,28,Grande

In [21]:
db_clean = db.dropna()
db_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896 entries, 0 to 999
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   N_OVO       896 non-null    int64
 1   P_OVO       896 non-null    float64
 2   AL_ALB      896 non-null    object
 3   PH_ALB      896 non-null    float64
 4   P_GE        896 non-null    float64
 5   C_GE        896 non-null    float64
 6   YH          896 non-null    object
 7   YD          896 non-null    object
 8   YI          896 non-null    object
 9   HU          896 non-null    object
 10  RK          896 non-null    object
 11  F_Q         896 non-null    object
 12  P_CA        896 non-null    float64
 13  MEDIA_E_CA  896 non-null    float64
 14  OV          896 non-null    float64
 15  L           896 non-null    float64
 16  B           896 non-null    float64
 17  W           896 non-null    float64
 18  L2          896 non-null    float64
 19  L4          896 non-null    float64
 20  D4          896 non-null    float64
 21  TEMPO       896 non-null    int64
 22  CL_PESO     896 non-null    object
dtypes: float64(13), int64(2), object(8)
memory usage: 168.0+ KB

In [23]:
db_clean = db_clean.astype({"N_OVO": "str", "AL_ALB": "float", "P_GE": "float", "YH": "float", "YD": "float", "YI": "float", "HU": "float", "F_Q": "float", "P_CA": "float"})
db_clean["N_OVO"] = db_clean["N_OVO"].apply(lambda x: 'ovo' + x)
db_clean

,N_OVO,P_OVO,AL_ALB,PH_ALB,P_GE,C_GE,YH,YD,YI,HU,...,MEDIA_E_CA,OV,L,B,W,L2,L4,D4,TEMPO,CL_PESO
0,ovo1,59.9,6.9,8.1,14.401,6.0,13.4,39.7,0.338,83.1,...,0.37,1.0,57.13,43.74,0.00,28.57,14.28,37.19,0,Grande
1,ovo2,67.2,9.0,8.4,17.197,6.0,18.5,46.0,0.402,93.1,...,0.32,1.0,59.52,45.39,0.67,29.76,14.88,40.78,0,Extra
2,ovo3,67.8,8.3,8.1,16.137,5.0,17.6,39.7,0.443,89.3,...,0.39,3.0,59.53,45.73,0.68,29.77,14.88,38.36,0,Extra
3,ovo4,59.0,8.5,8.0,16.182,5.0,16.5,43.0,0.384,92.5,...,0.37,1.0,61.19,41.48,3.06,30.60,15.30,36.14,0,Grande
4,ovo5,65.5,6.8,8.8,15.553,6.0,16.8,41.0,0.410,80.7,...,0.37,1.0,58.44,44.76,0.99,29.22,14.61,39.17,0,Extra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ovo996,63.4,3.0,10.6,16.836,6.0,12.0,46.3,0.259,43.3,...,0.34,2.0,57.01,45.86,-0.92,28.51,14.25,38.94,28,Grande
996,ovo997,55.9,3.6,10.7,14.763,5.0,10.6,45.0,0.236,56.4,...,0.42,2.0,56.14,42.65,0.33,28.07,14.04,36.92,28,Grande
997,ovo998,59.9,2.9,10.5,17.815,6.0,13.5,46.0,0.293,44.3,...,0.41,2.0,59.31,43.12,-1.30,29.66,14.83,37.79,28,Grande
998,ovo999,57.8,4.1,10.5,18.117,6.0,14.1,44.7,0.315,61.0,...,0.33,1.0,57.05,43.72,0.57,28.53,14.26,38.94,28,Grande
999,ovo1000,68.6,3.6,10.5,19.124,7.0,14.4,45.3,0.318,48.8,...,0.45,2.0,61.48,45.91,1.33,30.74,15.37,37.93,28,Grande

In [24]:
db_ohe = pd.get_dummies(db_clean, columns=['CL_PESO','RK'])
db_ohe

,N_OVO,P_OVO,AL_ALB,PH_ALB,P_GE,C_GE,YH,YD,YI,HU,...,D4,TEMPO,CL_PESO_Extra,CL_PESO_Grande,CL_PESO_Médio,CL_PESO_Pequeno,RK_A,RK_AA,RK_B,RK_C
0,ovo1,59.9,6.9,8.1,14.401,6.0,13.4,39.7,0.338,83.1,...,37.19,0,0,1,0,0,0,1,0,0
1,ovo2,67.2,9.0,8.4,17.197,6.0,18.5,46.0,0.402,93.1,...,40.78,0,1,0,0,0,0,1,0,0
2,ovo3,67.8,8.3,8.1,16.137,5.0,17.6,39.7,0.443,89.3,...,38.36,0,1,0,0,0,0,1,0,0
3,ovo4,59.0,8.5,8.0,16.182,5.0,16.5,43.0,0.384,92.5,...,36.14,0,0,1,0,0,0,1,0,0
4,ovo5,65.5,6.8,8.8,15.553,6.0,16.8,41.0,0.410,80.7,...,39.17,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ovo996,63.4,3.0,10.6,16.836,6.0,12.0,46.3,0.259,43.3,...,38.94,28,0,1,0,0,0,0,1,0
996,ovo997,55.9,3.6,10.7,14.763,5.0,10.6,45.0,0.236,56.4,...,36.92,28,0,1,0,0,0,0,1,0
997,ovo998,59.9,2.9,10.5,17.815,6.0,13.5,46.0,0.293,44.3,...,37.79,28,0,1,0,0,0,0,1,0
998,ovo999,57.8,4.1,10.5,18.117,6.0,14.1,44.7,0.315,61.0,...,38.94,28,0,1,0,0,1,0,0,0
999,ovo1000,68.6,3.6,10.5,19.124,7.0,14.4,45.3,0.318,48.8,...,37.93,28,0,1,0,0,0,0,1,0

In [25]:
db_ohe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896 entries, 0 to 999
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   N_OVO            896 non-null    object
 1   P_OVO            896 non-null    float64
 2   AL_ALB           896 non-null    float64
 3   PH_ALB           896 non-null    float64
 4   P_GE             896 non-null    float64
 5   C_GE             896 non-null    float64
 6   YH               896 non-null    float64
 7   YD               896 non-null    float64
 8   YI               896 non-null    float64
 9   HU               896 non-null    float64
 10  F_Q              896 non-null    float64
 11  P_CA             896 non-null    float64
 12  MEDIA_E_CA       896 non-null    float64
 13  OV               896 non-null    float64
 14  L                896 non-null    float64
 15  B                896 non-null    float64
 16  W                896 non-null    float64
 17  L2               896 non-null    float64
 18  L4               896 non-null    float64
 19  D4               896 non-null    float64
 20  TEMPO            896 non-null    int64
 21  CL_PESO_Extra    896 non-null    uint8
 22  CL_PESO_Grande   896 non-null    uint8
 23  CL_PESO_Médio    896 non-null    uint8
 24  CL_PESO_Pequeno  896 non-null    uint8
 25  RK_A             896 non-null    uint8
 26  RK_AA            896 non-null    uint8
 27  RK_B             896 non-null    uint8
 28  RK_C             896 non-null    uint8
dtypes: float64(19), int64(1), object(1), uint8(8)
memory usage: 161.0+ KB

In [27]:
db_ohe.to_csv("Medidas todos os ovos.csv", index=False)